{% extends '_base.html' %}

{% block main %}
    <form method="post">
        {{ form.as_p }}
        <p>
            <button type="submit">Update Student</button>
        </p>
    </form>
{% endblock %}
