{% extends '_base.html' %}

{% block main %}
    <form>
        <p>Search students</p>
        {{ filter.form.as_p }}
        <p>
            <button type="submit">Search</button>
        </p>
    </form>
    <br>
    <a href="{% url 'create_students' %}">Add new student</a><br>

    <table>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th></th>
    </tr>

    {% for student in filter.qs|slice:":20" %}
        <tr>
            <td>{{ student.first_name|capfirst }}</td>
            <td>{{ student.last_name|title }}</td>
            <td><a href="{% url 'update_students' id=student.id %}">Edit</a></td>
        </tr>
    {% endfor %}
    </table>

{% endblock %}
