{% extends '__base.html' %}
{% load crispy_forms_tags %}
{% block title %}Edit teacher{% endblock %}
{% block main %}
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <p>
            <button type="submit">Update Teacher</button>
        </p>
    </form>
{% endblock %}