{% extends '__base.html' %}
{% block title %}View teachers{% endblock %}
{% load crispy_forms_tags %}
{% block main %}
    <form>
        <p>Search teachers</p>
        {{ filter.form|crispy }}
        <p>
            <button class="btn btn-light text-info" type="submit">Search</button>
        </p>
    </form>
    <br>
    <a class="btn btn-light text-primary" href="{% url 'teachers:create_teachers' %}">Add new teacher</a>
    <br>
    <p> </p>
    <table class="table table-bordered border-primary">
           <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>INN</th>
        <th>Email</th>
        <th></th>
    </tr>

    {% for teacher in filter.qs|slice:":20" %}
        <tr>
            <td>{{ teacher.first_name|capfirst }}
            <td>{{ teacher.last_name|title }}</td>
            <td>{{ teacher.inn }}</td>
            <td>{{ teacher.email }}</td>
            <td><a href="{% url 'teachers:edit_teachers' id=teacher.id %}">✎</a>
            <a href="{% url 'teachers:delete_teachers' id=teacher.id %}">␥</a></td>

        </tr>
    {% endfor %}
    </table>

{% endblock %}
