<!--<a class="btn btn-info" href="/">LMS</a><a class="btn btn-info" href="{% url 'teachers:list_teachers' %}">Teachers</a>-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid bg-primary">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand text-body " href="/">LMS</a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link active text-body " aria-current="page" href="{% url 'teachers:list_teachers' %}">Teachers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-body"  href="{% url 'list_students' %}">Students</a>
        </li>
<!--        <li class="nav-item">-->
<!--          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
<!--        </li>-->
<!--      </ul>-->
<!--      <form class="d-flex">-->
<!--        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
<!--        <button class="btn btn-outline-success" type="submit">Search</button>-->
<!--      </form>-->
      </ul>>
    </div>
  </div>
</nav>